.popup {
  background-color: rgba(0, 0, 0, 0.5);
  /*  */
  position: fixed;
  left: 0;
  top: 0;
  /*  */
  width: 100vw;
  height: 100vh;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
