.profile {
  color: white;
  /*  */
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 25px;
  /*  */
  margin: 36.25px 0 46.25px 0;
}

/* 768px */
@media screen and (max-width: 860px) {
  .profile {
    flex-direction: column;
  }
}

/* 320px */
@media screen and (max-width: 540px) {
  .profile {
    margin: 38.25px 19px 26.25px 19px;
  }
}
