.profile {
  color: white;
  /*  */
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 26px;
  /*  */
  margin: 40px 0 50px 0;
}

/* 768px */
@media screen and (max-width: 860px) {
  .profile {
    flex-direction: column;
  }
}

/* 320px */
@media screen and (max-width: 540px) {
  .profile {
    margin: 42px 19px 36px 19px;
  }
}
