.card__remove-btn {
  background-image: url(../../../images/card__remove-btn.svg);
  background-color: rgba(255,255,255, 0);
  background-position: center;
  background-size: cover;
  border-width: 0;
  box-sizing: content-box;
  /*  */
  position: absolute;
  top: 18px;
  right: 15px;
  /*  */
  padding: 0;
  min-width: 18px;
  min-height: 19.3px;
  /*  */
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  transition: background-image 0.2s;

  visibility:hidden;
}

.card__remove-btn:hover {
  opacity: 0.5;
}
