.popup__container {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  /*  */
  max-width: 430px;
  /*  */
  position: relative;
  /*  */
  display: flex;
  flex-direction: column;
  /*  */
  padding: 34px 36px 36.51px 36px;
  margin: 0;
}

/* 320px */
@media screen and (max-width: 540px) {
  .popup__container {
    max-width: calc(100vw - 38px);
    /* margin: 123px 19px 0 19px; */
    padding: 25px 22px 25px 22px;
  }
}
