@import url(../vendor/normalize.css);

.page {
  font-family: "Inter", sans-serif, "Helvetica Neue", Arial;
  background-color: black;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

/* --------------------------------------------------------------------- */

.main-page {
  margin: 45px 200px 0 200px;
}

/* --------------------------------------------------------------------- */

.header {
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../../images/logo.svg);
  background-size: cover;
  padding: 0;
  margin: 0 0 41px 0;
}

/* 320px */
@media screen and (max-width: 540px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 32px 8px;
  }
}

/* --------------------------------------------------------------------- */

.profile {
  display: flex;
  justify-items: flex-start;

  color: white;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 36.25px 0 46.25px 0;
}

.profile__avatar {
  /* display: block; */
  border-radius: 50%;

  /* max-width: 127.5px; */
  max-height: 127.5px;
}

.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  gap: 16px 18px;
  align-items: center;
}

.profile__name {
  grid-column: 1 / 2;

  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  margin: 0;
  padding: 0;
}
.profile__edit-btn {
  grid-column: 2 / 3;

  border: 1px solid #ffffff;
  background-color: black;

  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
.profile__job {
  grid-column: 1 / 3;
  text-align: left;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  margin: 0;
  padding: 0;
}

.profile__edit-btn-img {
  width: 10px;
  height: 10px;
  margin: 7px;
}

.profile__add-btn {
  border: solid 1px white;
  background-color: black;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
}

.profile__add-btn-img {
  width: 22px;
  height: 22px;
}

/* 768px */
@media screen and (max-width: 860px) {
  .profile {
    flex-direction: column;
  }

  .profile__job {
    text-align: center;
  }

  .profile__add-btn {
    width: 60%;
    margin: 0 auto;
  }
}

/* 320px */
@media screen and (max-width: 540px) {
  .profile {
    margin: 38.25px 19px 26.25px 19px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }

  .profile__edit-btn-img {
    width: 7.5px;
    height: 7.5px;
    margin: 5.25px;
  }

  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0 auto;
  }

  .profile__add-btn-img {
    width: 16px;
    height: 16px;
  }
}

/* --------------------------------------------------------------------- */

.cards {
  margin: 0;
  padding: 0;
}
.cards__container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* box-sizing: border-box; */

  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 3 - 12px));
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px 17px;

  list-style: none;
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .cards__container {
    grid-template-columns: repeat(auto-fit, calc(100% / 2 - 9px));
  }
}

/* 768px */
@media screen and (max-width: 860px) {
  .cards__container {
    grid-template-columns: 100%;
  }
}

/* 320px */
@media screen and (max-width: 540px) {
  .cards__container {
    margin: 0 19px;
  }
}

/* --------------------------------------------------------------------- */

.card {
  margin: 0;
  padding: 0;

  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 87.234%;
  margin: 8.865% 5.319% 10.993% 7.446%;
}

.card__title {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/card__like-btn.svg);
  background-position: center;
  background-size: cover;
  background-color: white;

  border-style: none;

  margin: 5px 3px 1px 0;
  padding: 0;

  width: 21px;
  height: 19px;
}

/* --------------------------------------------------------------------- */

.footer {
  color: #545454;
  margin: 68px 0 60px 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 540px) {
  .footer {
    margin: 50px 0 36px 19px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

/*-popup------------------------ */

.popup {
  /*  */
  opacity: 0.5;
  background-color: black;
  /*  */
  position: fixed;
  left: 0;
  top: 0;
  /*  */
  width: 100vw;
  height: 100vh;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_hide {
  display: none;
}

.popup__container {
  background-color: white;
  opacity: 1;
  /*  */
  max-width: 430px;
  /*  */
  position: relative;
  /*  */
  display: flex;
  flex-direction: column;
}

.popup__close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .main-page {
    margin: 45px 100px 0px 100px;
  }
}


/* 768px */
@media screen and (max-width: 860px) {
  .main-page {
    margin: 45px 50px 0px 50px;
  }
}

/* 320px */
@media screen and (max-width: 540px) {
  .main-page {
    margin: 28px 0 0 0;
  }
}
