@import url(../vendor/normalize.css);

.page {
  background-color: black;
  max-width: 1280px;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.header {
}

.profile {
  color: white;
  display: flex;
}

.profile__avatar {
  /* display: block; */
  border-radius: 50%;
}

.profile__info {
  display: grid;
  flex-direction: column;
}

.profile__name {

}
.profile__edit-button {
  border: 1px solid #FFFFFF;
  background-color: black;
  width: 24px;
  height: 24px;
}

.profile__edit-button-img {
  color: #FFFFFF;
  background-image: url(../images/profile__edit-button.svg);
  background-position: center;
  background-size: cover;
}

.profile__proffessions {

}

.profile__add-button {
  border: solid 1px white;
  background-color: black;
  width: 150px;
  height: 50px;
}

.profile__add-button-img {
  width: 22px;
  height: 22px;
}



.cards {

}
.cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
}

.card {
  background-color: white;
}

.card__image {
  width: 100%;
}

.card__title {

}

.card__like-button {
  background-image: url(../images/card__like-button.svg);

  background-position: center;
  background-size: cover;
  background-color: white;
  border-style: none;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 19px;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../../images/logo.svg);
  background-size: cover;
}

.footer {
  color: #545454;
}
