@import url(../vendor/normalize.css);

.page {
  background-color: black;
  max-width: 1280px;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.header {
}

.profile {
  color: white;
  display: flex;
}

.profile__avatar {
  /* display: block; */
  border-radius: 50%;
}

.profile__info {
  display: grid;
  flex-direction: column;
}

.profile__name {

}
.profile__edit-btn {
  border: 1px solid #FFFFFF;
  background-color: black;
  width: 24px;
  height: 24px;
}

.profile__edit-btn-img {
  width: 10px;
  height: 10px;
}

.profile__professions {

}

.profile__add-btn {
  border: solid 1px white;
  background-color: black;
  width: 150px;
  height: 50px;
}

.profile__add-btn-img {
  width: 22px;
  height: 22px;
}



.cards {

}
.cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
}

.card {
  background-color: white;
}

.card__image {
  width: 100%;
}

.card__title {

}

.card__like-btn {
  background-image: url(../images/card__like-btn.svg);

  background-position: center;
  background-size: cover;
  background-color: white;
  border-style: none;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 19px;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../../images/logo.svg);
  background-size: cover;
}

.footer {
  color: #545454;
}
  /*-popup------------------------ */

  .popup {
    /*  */
    opacity: .5;
    background-color: black;
    /*  */
    position: fixed;
    left: 0;
    top: 0;
    /*  */
    width: 100vw;
    height: 100vh;
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup_hide {
    display: none;
  }

  .popup__container {
    background-color: white;
    /*  */
    max-width: 430px;
    /*  */
    position: relative;
    /*  */
    display: flex;
    flex-direction: column;
  }

  .popup__close-btn {
    position: absolute;
    top:  -30px;
    right: -30px;
    background-color: white;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
