@import url(../vendor/normalize.css);

.page {
  font-family: "Inter", sans-serif, "Helvetica Neue", Arial;
  background-color: black;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.main-page {
  /* width: 100%; */
  margin: 45px 200px;
  /* display: flex;
  flex-direction: column; */
}

.header {
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-image: url(../../images/logo.svg);
  background-size: cover;
  padding: 0;
  margin: 0 0 41px 0;
}

.profile {
  display: flex;
  justify-items: flex-start;

  color: white;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 36.25px 0 46.25px 0;
}

.profile__avatar {
  /* display: block; */
  border-radius: 50%;

  /* max-width: 127.5px; */
  max-height: 127.5px;
}

.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  gap: 16px 18px;
  align-items: center;
}

.profile__name {
  grid-column: 1 / 2;

  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  margin: 0;
  padding: 0;
}
.profile__edit-btn {
  grid-column: 2 / 3;

  border: 1px solid #ffffff;
  background-color: black;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
.profile__job {
  grid-column: 1 / 3;
  text-align: left;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  margin: 0;
  padding: 0;
}

.profile__edit-btn-img {
  width: 10px;
  height: 10px;
}

.profile__add-btn {
  border: solid 1px white;
  background-color: black;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
}

.profile__add-btn-img {
  width: 22px;
  height: 22px;
}

.cards {
  margin: 0;
  padding: 0;
}
.cards__container {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px 17px;

  list-style-type: none;
}

.card {
  background-color: white;
  border-radius: 10px;

  display: grid;
  grid-template-columns: auto 21px;
  align-items: center;

  /* position: relative; */

}

.card__image {
  grid-column: 1 / 3;
  width: 100%;
  border-radius: 10px 10px 0 0;

}

.card__title {
  grid-column: 1 / 2;
  /* grid-column: 1 / 3; */

  /* position: relative; */

  margin: 8.865% 0 10.993% 7.446%;
  padding: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  grid-column: 2 / 3;

  /* position: absolute; */
  /* bottom: 10.993%;
  right: 5.319%; */

  background-image: url(../images/card__like-btn.svg);
  background-position: center;
  background-size: cover;
  background-color: white;

  border-style: none;

  margin: calc(5px + 8.865%) 10px calc(1px + 10.993%) 0;
  padding: 0;

  width: 21px;
  height: 19px;
}

.footer {
  color: #545454;
  margin: 68px 0 60px 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

/*-popup------------------------ */

.popup {
  /*  */
  opacity: 0.5;
  background-color: black;
  /*  */
  position: fixed;
  left: 0;
  top: 0;
  /*  */
  width: 100vw;
  height: 100vh;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_hide {
  display: none;
}

.popup__container {
  background-color: white;
  /*  */
  max-width: 430px;
  /*  */
  position: relative;
  /*  */
  display: flex;
  flex-direction: column;
}

.popup__close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
}
